/*footer 전역 설정*/
.footer {
  position: relative;
  color: #eee;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  z-index: 1000;
}

.footer__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

/* contact */
.footer__contact {
  height: 50%;
}

.contact__text-title {
  padding-top: 100px;
  font-size: 60px;
  padding-bottom: 50px;
}

.contact__text-body {
  font-size: 30px;
}

.contact__email {
  margin-top: 55px;
}

.contact__email a {
  padding: 20px 50px;
  font-size: 25px;
  position: relative;
  transition: all 1s;
}

.contact__email a:hover {
  color: #121212;
}

.contact__email a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #eee;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s;
}

.contact__email a:hover::after {
  width: 100%;
}

/* 로고 */

.footer__logo {
  font-size: 120px;
  height: 50%;
}

.logo__icon {
  display: flex;
  gap: 50px;
}

.logo__icon a {
  display: block;
  border-radius: 0;
  padding: 20px;
  transition: all 1s;
}

.logo__icon a:hover {
  border-radius: 50%;
  background-color: #eee;
}

.logo__icon svg {
  width: 50px;
  height: 50px;
}
