/* 문구 텍스트 */
.content__info {
  padding-top: 200px;
  color: white;
  display: flex;
  padding-bottom: 400px;
}

.info-text-l {
  width: 35%;
}

.info-text-r {
  position: relative;
  margin-left: 5%;
  font-size: 50px;
  width: 60%;
}

.info-text-r p {
  position: absolute;
  top: -10px;
}

/* work 아이템 */
.content__work {
  color: #eee;
}

.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.work__item {
  border-radius: 15px;
  width: 100%;
  height: 600px;
}

.work__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.item__video {
  width: 95%;
  height: 500px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.item__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__video video:nth-child(2) {
  position: absolute;
  border: 5px solid #000;
  border-radius: 25px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.7), 0 15px 12px rgba(0, 0, 0, 0.22);
  top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  right: -300px;
  width: 300px;
  height: 98%;
  object-fit: cover;
  transition: all 0.5s;
  z-index: 100;
}

.item__video:hover video:nth-child(2) {
  right: 5px;
}

.work__item {
  margin-bottom: 150px;
  display: flex;
}

.work__item:nth-child(4) {
  margin-bottom: 0px;
}

.item__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
  gap: 20px;
}

/* 모든 작업 내역 */

.all-work a {
  position: relative;
  font-size: 20px;
}

.all-work a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #eee;
  transition: width 0.5s;
}

body.white-theme .all-work a::after {
  background-color: #000;
}

/* 스킬박스 */
.skill-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #eee;
}

.skill-box {
  min-height: 500px;
  width: 50%;
  padding: 50px;
  background-color: #000;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.skill-box:hover {
  width: 55%;
  background-color: #fae28d;
  color: #000;
}

.skill-box .text-header {
  font-size: 30px;
}

.skill-box .text-body {
  display: inline-block;
  max-width: 430px;
  font-size: 20px;
}

.skill-box figure {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 10%;
  right: 10%;
  overflow: hidden;
}

.skill-box figure img {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.skill-box:hover figure img {
  opacity: 1;
  transform: scale(1.1);
}

/*인터뷰*/
.interview__container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.interview__container h2 {
  font-size: 30px;
}

.interview-box {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 50px;
  transition: all 0.5s;
}

.interview-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.interview-body {
  font-size: 25px;
  margin-bottom: 20px;
}

/* 버튼 배경색 변환*/
.item__link a {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  position: relative;
  transition: all 1s;
  border: 1px solid #eee;
}

.item__link a:hover {
  color: #121212;
}

.item__link a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #eee;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s;
}

.item__link a:hover::after {
  width: 100%;
}

/* video hover시 화면 크기 */
video {
  transition: all 0.5s;
}
video:hover {
  transform: scale(1.05);
}
